body {
    background-color: #fff;
}

.toastify {
    box-shadow: unset;
}

i.icon.icon_project {
    position: relative;
    bottom: 2px;
}

#app {
    background: #f5f5f5;
    min-height: 100vh;
    padding-top: 53px;
    
    > .ui.container {
        padding: 20px;
        background: #fff;
        border-radius: 5px;
    }
}

.w100p {
    width: 100% !important;
}

icon.mini {
    font-size: 17px !important;
}

.menu-projects__folder {
    cursor: pointer;
}

.display-linebreak {
    white-space: pre-line;
}

.modal {
    border-radius: 0 !important;
}

.link_edit-permission-list, .link_edit-permission-list .header {
    cursor: pointer;
    font-weight: normal !important;
}

.link_edit-permission-list:hover, .link_edit-permission-list:hover .header {
    color: #223d7b !important;
}

.ui.inverted.menu {
    border-radius: 0;
    background-color: #000 !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.project-menu-item {

    > .header {
        cursor: pointer;
    }
}

.project-menu-item.hide {
    > .menu {
        display: none;
    }

    > .header {
        margin-bottom: 0px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .ui.container {
        margin-left:auto!important;
        margin-right: auto!important;
        width: 1520px;
    }

    .ui.grid.container {
        width: calc(1520px + 2rem)!important
    }

    .ui.relaxed.grid.container {
        width: calc(1520px + 3rem)!important
    }

    .ui.very.relaxed.grid.container {
        width: calc(1520px + 5rem)!important
    }
}