body {
    background-color: #fff;
}

.toastify {
    box-shadow: unset;
}

i.icon.icon_edit_project {
    position: relative;
    bottom: 2px;
    margin-left: 5px;
}

.w100p {
    width: 100% !important;
}